html body{
  background-color:#EEEEEE;
	padding: 10px;
  font-family: 'Dancing Script', cursive;
  min-width: 100vw;
  min-height: 100vh;

}

h1 {
  margin: 5em;
  text-align: center;
  font-size: 5em;
}

h2{
  text-align: center;
  font-size: 3.5em;
}

#navbar{
  background-color: none;
  position: fixed;
  top: 35vh;
  text-align: left;

  /*z-index: -1;*/
  border-radius: 12px;
}
a img {
  height: 10em;
  width: 10em;
  font-size: 1em;

}

li{
  padding: 5px;
  font-size: 2em;
}

.corpo{
  height:100vh;
  width:100vw;
}
.corpoHome{
  height:100vh;
  width:100vw;
}

li button{
  color: #000000;
  background: cadetblue;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height: 1.5em;
  width: 5em;
  font-size: 0.8em;
}
li button span{
  font-size: 0.9em;
}
button{
  color: #000000;
  background: cadetblue;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height: 1.5em;
  width: 5em;
  font-size: 0.8em;
}
.submit{
  color: #000000;
  background: cadetblue;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height: 1.5em;
  width: 5em;
  font-size: 0.8em;
}

button:hover{
  background-color: #000000;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a{
  color:#000000;
}
img{
  border-radius: 12px;
}
img:hover{
  -webkit-transition-duration: 0.4s;
  box-shadow: 0 20px 50px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a:hover{
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  color: cadetblue;

}

.row{
  font-size: 1em;
  text-align:center;
}
.row.contact{
  font-size: 2em;
}
.input{
  font-family: 'Roboto', sans-serif;
}

p{
  font-size: 0.9em;
}
.col.l6.m4.s4{
  left: 110vw;
  padding-top: 1em;

}
.iconsContact{
  height: 1.2em;
  width: 1.2em;
}
.pAbout{
  font-size: 1.4em;
}
.galeria{
  text-align: center;
}
